# Tweets scrapping

Installing a snscape library which helps to scrap the tweet.

In [46]:
!pip3 install snscrape

Requirement already satisfied: snscrape in d:\anaconda_data_science\lib\site-packages (0.3.4)
Requirement already satisfied: beautifulsoup4 in d:\anaconda_data_science\lib\site-packages (from snscrape) (4.9.3)
Requirement already satisfied: requests[socks] in d:\anaconda_data_science\lib\site-packages (from snscrape) (2.25.1)
Requirement already satisfied: lxml in d:\anaconda_data_science\lib\site-packages (from snscrape) (4.6.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda_data_science\lib\site-packages (from beautifulsoup4->snscrape) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda_data_science\lib\site-packages (from requests[socks]->snscrape) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda_data_science\lib\site-packages (from requests[socks]->snscrape) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda_data_science\lib\site-packages (from requests[socks]->snscrape) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda_data_science\lib\site-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in d:\anaconda_data_science\lib\site-packages (from requests[socks]->snscrape) (1.7.1)

### Extracting the tweets with respect the ebay, Meesho, Olxindia, Amazonindia, Flipkart, Jiomart

In [6]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
ebay_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('ebay since:2019-01-01 until:2021-12-27').get_items()):
    if i>10000:
        break
    ebay_list.append([tweet.date, tweet.id, tweet.username, tweet.content])
    
# Creating a dataframe from the tweets list above
ebay_df = pd.DataFrame(ebay_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [7]:
ebay_df

,Datetime,Tweet Id,Name,tweet
0,2021-12-26 23:59:58+00:00,1475255097483579402,JSOH13597,If you are buying shirts on eBay avoid this se...
1,2021-12-26 23:59:58+00:00,1475255095730348032,SACellPhonesPro,"3-in-1 Charging Dock for Phone, Apple Watch &a..."
2,2021-12-26 23:59:54+00:00,1475255078537863171,primitivebowls,Check out BIG DAIRY Milking COW Wall PICTURE*P...
3,2021-12-26 23:59:48+00:00,1475255055980843008,StagnoAmanda,Look what I found on @eBay! https://t.co/wQPB5...
4,2021-12-26 23:59:48+00:00,1475255053657247748,BenBestDeals,Universal Nutrition Buffered Vitamin C Pills 1...
...,...,...,...,...
9996,2021-12-26 19:19:32+00:00,1475184523922923526,wallets_s,Authentic PRADA ALLIGATOR BiFold Brown WALLET-...
9997,2021-12-26 19:19:32+00:00,1475184523910397952,CalipersM,Performance Machine Brake Caliper 125 x 4R Chr...
9998,2021-12-26 19:19:32+00:00,1475184523763544066,ShocksMotorcyc1,Burly Brand Slammer Plus Shocks Chrome for FXD...
9999,2021-12-26 19:19:32+00:00,1475184523755229192,janitorial_and,Interpump repairs parts kit 312A series 53 ø 1...
10000,2021-12-26 19:19:32+00:00,1475184523633561603,IntakeCar,Edelbrock 2859 Victor Glidden 18 Deg. Chevy In...

In [60]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
meesho_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('meeshosupport since:2019-01-01 until:2021-12-27').get_items()):
    if i>10000:
        break
    meesho_list.append([tweet.date, tweet.id, tweet.username, tweet.content])
    
# Creating a dataframe from the tweets list above
meesho_df = pd.DataFrame(meesho_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [61]:
meesho_df

,Datetime,Tweet Id,Name,tweet
0,2021-11-17 11:11:35+00:00,1460928597674192897,Anascollections,I am a suffering supplier of meesho they did n...
1,2021-10-31 14:30:23+00:00,1454818036997926919,dhingu21,"Suddenly meesho blocked my account , two days ..."
2,2021-10-21 14:16:22+00:00,1451190630747492355,Venky9999999,@Meesho_Official Order I'd #5190930308. please...
3,2021-10-20 06:06:19+00:00,1450704916553494536,Venky9999999,@Meesho_Official #meeshosupport #meeshoteam u ...
4,2021-10-20 05:51:35+00:00,1450701209904422913,Venky9999999,@Meesho_Official #Meeshoteam #Meeshosupport #M...
5,2020-09-19 12:04:50+00:00,1307289543901552640,rohitkeshrwani1,hello Meesho Supoort\n\ni have buy sum product...
6,2020-08-18 10:19:56+00:00,1295666732875448321,Akshay87566139,@meeshoapp \n@meeshosupport\n@ceomeesho\n\nMee...

In [38]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
olxindia_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('olxindia since:2019-01-01 until:2021-12-27').get_items()):
    if i>10000:
        break
    olxindia_list.append([tweet.date, tweet.id, tweet.username, tweet.content])
    
# Creating a dataframe from the tweets list above
olxindia_df = pd.DataFrame(olxindia_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [39]:
olxindia_df

,Datetime,Tweet Id,Name,tweet
0,2021-12-19 07:59:43+00:00,1472476727909650435,loganathan80,@olxindia @OLX_India its forgery company in in...
1,2021-11-22 15:24:45+00:00,1462804248140210179,SOMESHY89,Why @olxindia banned my account
2,2021-11-21 22:52:49+00:00,1462554621839233024,umesh_anush,@olxindia @OLX @OLX_India \n@GoogleIndia @YouT...
3,2021-11-09 06:43:20+00:00,1457961990215794689,GauravBhanot12,@OLXAutosIndia @IndianConsumerF @jagograhakjag...
4,2021-11-05 19:46:40+00:00,1456709568709287936,rajashreess007,@CPPuneCity @DGPMaharashtra @CMOMaharashtra @C...
...,...,...,...,...
407,2019-02-14 14:45:10+00:00,1096057770095378433,socialmediakhan,OLX Real Estate – The Worst Portal Ever Online...
408,2019-02-12 10:08:11+00:00,1095263288106106881,Pocketpcsvs,@OLX_India New web interface is slow like a tu...
409,2019-02-12 04:04:14+00:00,1095171697328644103,unni_kuttan007,ഓഎൽഎക്സിന്റെ ഐക്കൺ മാറി\n\nന്നാ ഒരു പരസ്യം ഇട്...
410,2019-02-08 17:26:23+00:00,1093924012714065922,SaurabhSharmaHR,https://t.co/kHM0WFyN4Q #olx #talentacquisitio...
411,2019-01-26 13:16:00+00:00,1089149959222579200,shiv_redhu,@OLX_India completely shameful @olxindia log l...

In [25]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
amazon_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('amazonsupport since:2019-01-01 until:2021-12-27').get_items()):
    if i>10000:
        break
    amazon_list.append([tweet.date, tweet.id, tweet.username, tweet.content])
    
# Creating a dataframe from the tweets list above
amazon_df = pd.DataFrame(amazon_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [26]:
amazon_df

,Datetime,Tweet Id,Name,tweet
0,2021-12-19 09:25:50+00:00,1472498398989332482,KariBethReilly,:. @amazonsupport wow. https://t.co/KSwzvYkyg6
1,2021-12-15 10:56:04+00:00,1471071555178299392,nkjindal111,@AmazonHelp #Amazon #AmazonSupport executive a...
2,2021-12-15 10:53:23+00:00,1471070879601680386,nkjindal111,@AmazonHelp As expected ...still waiting for t...
3,2021-12-13 07:01:36+00:00,1470287774011904002,GVikramjeet,#amazonsupport hello sir I order for one thing...
4,2021-12-08 07:28:24+00:00,1468482577241575424,nkjindal111,Shame on #ASUS #Amazon #AmazonSupport\nI have ...
...,...,...,...,...
555,2019-01-07 19:47:29+00:00,1082363111359811584,themalph,"Man, @amazonUK support is like banging your he..."
556,2019-01-05 12:31:56+00:00,1081528725815078913,m_a_heine,@Ursus_Maior @amazonDE @BahnAnsagen @apreussle...
557,2019-01-04 15:13:15+00:00,1081206931715489792,bycristinaroman,"4 days,3 customer service reps giving me the r..."
558,2019-01-02 23:59:12+00:00,1080614518294802433,ajalwan,@amazonsupport where is Bluetooth setting for ...
559,2019-01-02 10:25:28+00:00,1080409733830332417,Ashutos11424232,@amazon #amazonsellers harrassed. Case id : 56...

In [29]:
flipkart_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('flipkartsupport since:2019-01-01 until:2021-12-27').get_items()):
    if i>10000:
        break
    flipkart_list.append([tweet.date, tweet.id, tweet.username, tweet.content])
    
# Creating a dataframe from the tweets list above
flipkart_df = pd.DataFrame(flipkart_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [30]:
flipkart_df

,Datetime,Tweet Id,Name,tweet
0,2021-12-26 23:41:38+00:00,1475250484168433666,DJISupport,@Rpsran @flipkartsupport Apologies for that. P...
1,2021-12-26 23:40:03+00:00,1475250083713085442,flipkartsupport,@mud2366 Hope we have addressed your concern i...
2,2021-12-26 23:38:44+00:00,1475249753982058496,flipkartsupport,@kishornaredla7 Sorry to hear that. We underst...
3,2021-12-26 23:38:40+00:00,1475249736323981312,mud2366,@flipkartsupport @Flipkart @flipkart are you l...
4,2021-12-26 23:36:14+00:00,1475249123171262469,kishornaredla7,@flipkartsupport my order id is OD12357043365...
...,...,...,...,...
9996,2021-12-23 03:17:29+00:00,1473855251950280708,flipkartsupport,@manjit435 Thank you for reaching to us. You m...
9997,2021-12-23 03:17:09+00:00,1473855167753646081,SuryaShaswat,@flipkartsupport Since last 25 days I have bee...
9998,2021-12-23 03:16:53+00:00,1473855099340406785,flipkartsupport,@KanwaNaresh If there is anything else that we...
9999,2021-12-23 03:16:46+00:00,1473855071779581957,flipkartsupport,"@sampan1988 Going forward, please ensure that ..."
10000,2021-12-23 03:16:41+00:00,1473855048601849867,flipkartsupport,@KanwaNaresh Sorry to hear that. We understand...

In [48]:
jiomart_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('jiomart since:2019-01-01 until:2021-12-27').get_items()):
    if i>10000:
        break
    jiomart_list.append([tweet.date, tweet.id, tweet.username, tweet.content])
    
# Creating a dataframe from the tweets list above
jiomart_df = pd.DataFrame(jiomart_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [49]:
jiomart_df

,Datetime,Tweet Id,Name,tweet
0,2021-12-26 23:56:27+00:00,1475254212044804098,DillikarArunesh,@JioMart you pple dead what is the update on ...
1,2021-12-26 23:47:31+00:00,1475251961763012608,PatelLeena31,@JioMart_Support Don't give a shit here\nResol...
2,2021-12-26 19:34:04+00:00,1475188179468632066,RaviSen671992,"Love your work, because the more you love it, ..."
3,2021-12-26 18:38:40+00:00,1475174238352936961,NitinGaur004,@JioMart_Support Can you confirm how much one ...
4,2021-12-26 18:16:43+00:00,1475168712944586756,vandanadhvj,@JioMart_Support Please do fast your job
...,...,...,...,...
9996,2021-12-06 10:38:33+00:00,1467805656195338247,JioMart_Support,@Tikli__ Thanks! Thank you for your positive w...
9997,2021-12-06 10:38:31+00:00,1467805648683372544,ItzsonaGupta,Having @JioMart for any need like dry fruits a...
9998,2021-12-06 10:37:52+00:00,1467805485487251457,ooobhaishab,@Samcasm7 @JioMart Aur kangi bhai?
9999,2021-12-06 10:37:23+00:00,1467805363126685700,JioMart_Support,"@deshbhaktime Hi, We regret the inconvenience ..."
10000,2021-12-06 10:36:33+00:00,1467805154447544325,JioMart_Support,"@Dilli_Wala_BF Hi Rahul, Thank you for your po..."

### Concatinating the extracted data

In [63]:
ebay_df.shape, olxindia_df.shape, jiomart_df.shape, amazon_df.shape, flipkart_df.shape, meesho_df.shape

((10001, 4), (412, 4), (10001, 4), (560, 4), (10001, 4), (7, 4))

In [69]:
twitter_df = pd.concat([ebay_df, olxindia_df, jiomart_df, amazon_df, flipkart_df, meesho_df], ignore_index=True)

In [70]:
twitter_df.head()

,Datetime,Tweet Id,Name,tweet
0,2021-12-26 23:59:58+00:00,1475255097483579402,JSOH13597,If you are buying shirts on eBay avoid this se...
1,2021-12-26 23:59:58+00:00,1475255095730348032,SACellPhonesPro,"3-in-1 Charging Dock for Phone, Apple Watch &a..."
2,2021-12-26 23:59:54+00:00,1475255078537863171,primitivebowls,Check out BIG DAIRY Milking COW Wall PICTURE*P...
3,2021-12-26 23:59:48+00:00,1475255055980843008,StagnoAmanda,Look what I found on @eBay! https://t.co/wQPB5...
4,2021-12-26 23:59:48+00:00,1475255053657247748,BenBestDeals,Universal Nutrition Buffered Vitamin C Pills 1...

In [71]:
twitter_df.shape

(30982, 4)

### Conversion of data frame to csv for data cleaning and NLP(Sentiment analysis)

In [75]:
twitter_df.to_csv("Twitter_Retailer_data.csv", index = False)

In [76]:
pd.read_csv("Twitter_Retailer_data.csv")

,Datetime,Tweet Id,Name,tweet
0,2021-12-26 23:59:58+00:00,1475255097483579402,JSOH13597,If you are buying shirts on eBay avoid this se...
1,2021-12-26 23:59:58+00:00,1475255095730348032,SACellPhonesPro,"3-in-1 Charging Dock for Phone, Apple Watch &a..."
2,2021-12-26 23:59:54+00:00,1475255078537863171,primitivebowls,Check out BIG DAIRY Milking COW Wall PICTURE*P...
3,2021-12-26 23:59:48+00:00,1475255055980843008,StagnoAmanda,Look what I found on @eBay! https://t.co/wQPB5...
4,2021-12-26 23:59:48+00:00,1475255053657247748,BenBestDeals,Universal Nutrition Buffered Vitamin C Pills 1...
...,...,...,...,...
30977,2021-10-21 14:16:22+00:00,1451190630747492355,Venky9999999,@Meesho_Official Order I'd #5190930308. please...
30978,2021-10-20 06:06:19+00:00,1450704916553494536,Venky9999999,@Meesho_Official #meeshosupport #meeshoteam u ...
30979,2021-10-20 05:51:35+00:00,1450701209904422913,Venky9999999,@Meesho_Official #Meeshoteam #Meeshosupport #M...
30980,2020-09-19 12:04:50+00:00,1307289543901552640,rohitkeshrwani1,hello Meesho Supoort\n\ni have buy sum product...
30981,2020-08-18 10:19:56+00:00,1295666732875448321,Akshay87566139,@meeshoapp \n@meeshosupport\n@ceomeesho\n\nMee...